@font-face {
	font-family: "EEDOP";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="eedop-"]:before, [class*=" eedop-"]:before,
[class^="eedop-"]:after, [class*=" eedop-"]:after {   
	font-family: 'EEDOP';
    font-size: 20px;
	font-style: normal;
}.eedop-email:before {
	content: "\e000";
}
.eedop-facebook:before {
	content: "\e001";
}
.eedop-twitter:before {
	content: "\e002";
}
